/**
 * 参数1: 要截取的字符串
 * 参数2: 开始截取的index
 * 参数3: 结束截取的index
 */
var sub = function (val, start, end) {
  //console.log(val,start,end)
  if (val == undefined || val == '' || val == null) {
    return;
  }
  if (val.length >= end) {
    return val.substring(start, end);
  } else {
    return val;
  }
}

var replaceNull = function(newStr){
   if(newStr){
     console.log('1234')
       return newStr;
   }else{
     return " ";
   }
}

module.exports = {
  sub: sub,
  replaceNull:replaceNull
}